*{
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
}
h1{
    font-family: 'Lobster', cursive;
}
.intestazione{
    height: 100px;
    width: initial;
    margin-top: -10px;
}
.titolo{
    float: left;
    width: 10vw;  
 
}
.menu{
    width: 90vw;
}
.menu li{
    margin-top: 5px;
    display: inline-block;
    padding: 20px 18px;
}
.principale{
    margin-top: -35px;
    background-color: rgba(253, 253, 231,1);
    display: grid;
    grid-template-columns: auto auto auto;
    float: left;
    border-bottom: 3px solid yellow;
    padding-bottom: 20px;
}
.articolo{
    text-align: justify;
    padding :0 15px 0 15px;
}
.piatto{
    text-align: center;
}
.foto{
    box-shadow: 10px 10px 10px 5px yellow;
}
.esterno{
    color: black;
    font-weight: bold;
    position: absolute;
    bottom: 70px;
}
.esterno:hover{
    color: green;
}
.scritta{
    /* margin-bottom: -20px; */
    text-align: center;
    padding-top: 540px;
}
